<ng-container *ngIf="pedido">
<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="client">Nome</label>
    <input
      class="form-control"
      id="client"
      rows="3"
      placeholder="nome" name="client"
      #cliente="ngModel"
      [(ngModel)]="pedido.client"
      [class.is-invalid]="!cliente.valid && cliente.touched"
      required>

    <div *ngIf="!cliente.valid && cliente.touched" class="text-danger">
      Coloque seu nome:
    </div>
  </div>
  <div class="form-group">
    <label for="client">Endereço</label>
    <input
      class="form-control"
      id="address"
      rows="3"
      placeholder="Endereço" name="address"
      #endereco="ngModel"
      [(ngModel)]="pedido.address"
      [class.is-invalid]="!endereco.valid && endereco.touched"
      required>

    <div *ngIf="!endereco.valid && endereco.touched" class="text-danger">
      Coloque seu Endereço:
    </div>
  </div>
  <div class="form-group">
    <label for="contat">Contato</label>
    <input
      class="form-control"
      id="contact"
      rows="3"
      placeholder="Contato" name="contact"
      #contato="ngModel"
      [(ngModel)]="pedido.contact"
      [class.is-invalid]="!contato.valid && contato.touched"
      required>

    <div *ngIf="!contato.valid && contato.touched" class="text-danger">
      Coloque algum contato:
    </div>
  </div>
  <div class="form-group">
    <label for="order">Pedido</label>
    <input
      class="form-control"
      id="order"
      rows="3"
      placeholder="pedido" name="order"
      #ordemPedido="ngModel"
      [(ngModel)]="pedido.order"
      [class.is-invalid]="!ordemPedido.valid && ordemPedido.touched"
      required>

    <div *ngIf="!ordemPedido.valid && ordemPedido.touched" class="text-danger">
      Faça seu pedido:
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Salvar</button>
</form>
</ng-container>
